<h1>Projetos</h1>
<div class="grid-container">
    <div class="square">
        <img src="/assets/img/maça.png" alt="">
        <h2>Jogo da Maça</h2>
        <p>Você tem que desviar das maças.</p>
        <a href="https://github.com/BrayanCristhian/jogos_scratch/blob/eef8e13763c5a01a147bc4e94d985644592814c9/ma%C3%A7a%20atualizado-2.sb3" target="_blank" rel="noopener noreferrer">Ver mais</a>
    </div>
    <div class="square">
        <img src="/assets/img/interrogação" alt="">
        <h2>Jogo da Adivinhação</h2>
        <p>Neste jogo você tem que acertar um numero de 1 a 10 que vem aleatoriamente.</p>
        <a href="https://github.com/BrayanCristhian/jogos_scratch/blob/eef8e13763c5a01a147bc4e94d985644592814c9/jodo%20de%20adivinha%C3%A7%C3%A3o.sb3" target="_blank" rel="noopener noreferrer">Ver mais</a>
    </div>
    <div class="square">
        <img src="/assets/img/calculadora.jpg">
        <h2>Calculadora</h2>
        <p>Você usa isso para fazer calculos mais eu não sei aonde a pasta da calculadora foi parar.</p>
        <a href="https://github.com/BrayanCristhian/projetos_VisuAlg_raulino" target="_blank" rel="noopener noreferrer" >Ver mais</a>
    </div>
    <div class="square" (click)="abreProjeto('piadas')">
        <h2>Quadrado 4</h2>
        <p>Descrição do Quadrado 4.</p>
        <a routerLink="/piadas">Ver mais</a>
    </div>
    <div class="square">
        <h2>Quadrado 5</h2>
        <p>Descrição do Quadrado 5.</p>
        <a href="#">Ver mais</a>
    </div>
    <div class="square">
        <h2>Quadrado 6</h2>
        <p>Descrição do Quadrado 6.</p>
        <a href="#">Ver mais</a>
    </div>
    <div class="square">
        <h2>Quadrado 7</h2>
        <p>Descrição do Quadrado 7.</p>
        <a href="#">Ver mais</a>
    </div>
    <div class="square">
        <h2>Quadrado 8</h2>
        <p>Descrição do Quadrado 8.</p>
        <a href="#">Ver mais</a>
    </div>
</div>
