// Variáveis para cores, fontes, tamanhos, etc.
$primary-color: #3498db;
$secondary-color: #2ecc71;

// Estilos gerais
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: $primary-color;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

main {
    width: 80%;
    margin: 0 auto;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project {
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project:hover {
    transform: translateY(-5px);
}

.project h2 {
    color: $primary-color;
}

.project p {
    flex: 1; /* Ocupa todo o espaço disponível */
    margin-bottom: 1rem;
}

.project a {
    align-self: flex-end; /* Alinha o link 'Ver Projeto' ao final do projeto */
    display: inline-block;
    background-color: $primary-color;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.project a:hover {
    background-color: darken($primary-color, 10%);
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: $primary-color;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
