<section class="fundo">
    <article>
        <h1>Sobre Min</h1>
        <p>Ola, sou Brayan Cristhian Dubiella Reiter, tenho 17 anos e estudo na escola EEB Raulino Horn,
            atualmente faço um curos de Lógica de Programação oferecida pelo SENAI no futuro eu quero estar passado no Curso de Logica e Programação,
            e começar outros cursos de Programação, No futuro, eu quero estar passado no Curso de Logica e Programação, e começar outros cursos de Programação.
            </p>
        <p>Nas minha horas vagas eu gosto de ficar jogando.</p>
    </article>
    <figure>
        <img src="/assets/img/eu.jpeg">
    </figure>
</section>